html, body { height: 100%; }

body { font-family: 'Titillium Web', 'Noto Sans KR', sans-serif; overflow: auto; }

#datePicker #myChart { width: 1200px; height: 600px; margin: 100px auto 0; }

#datePicker #calendar { width: 500px; padding: 15px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); border: 1px solid rgba(0, 0, 0, 0.2); }

#datePicker #calendar .header { display: flex; justify-content: space-between; align-items: center; margin: 30px 0; }

#datePicker #calendar .header .yearAndMonth { font-size: 20px; }

#datePicker #calendar .header .yearAndMonth .month { font-weight: 700; }

#datePicker #calendar .days ul li:first-child { background-color: aquamarine; }

#datePicker #calendar .days ul li:last-child { background-color: violet; }

#datePicker #calendar .dates ul, #datePicker #calendar .days ul { display: flex; flex-wrap: wrap; }

#datePicker #calendar .dates ul li, #datePicker #calendar .days ul li { flex-basis: calc(100% / 7 - 4px); margin: 2px; background-color: #111; border-radius: 100%; color: #fff; min-height: 50px; display: flex; justify-content: center; align-items: center; position: relative; }

#datePicker #calendar .dates ul li::before, #datePicker #calendar .days ul li::before { content: ''; padding-top: 100%; }

#datePicker #calendar .dates ul li.blank, #datePicker #calendar .days ul li.blank { pointer-events: none; background-color: transparent; }

#datePicker #calendar .dates ul li span, #datePicker #calendar .days ul li span { display: flex; position: absolute; left: 0; top: 0; width: 100%; height: 100%; justify-content: center; align-items: center; }

#datePicker #calendar .dates ul li .today, #datePicker #calendar .days ul li .today { background-color: blue; }

#datePicker #calendar .dates ul.today, #datePicker #calendar .days ul.today { background-color: blue; }
